.box-choose-apartment{
	padding-bottom: 34px;
	h1.title{
		letter-spacing: 0;
	}
	.box-constructor__desc{
		font-size: 15px;
		line-height: 23px;
		max-width: 650px;
	}

}
.choose-apartment{
	max-width: 731px;
	margin-top: 32px;
	margin-bottom: 30px;
	&__title{
		color: #000000;
		font-size: 22px;
		line-height: 27px;
		font-weight: 700;
		margin-bottom: 35px;
		text-transform: none;
		letter-spacing: 0;
	}
	&__row{
		display: flex;	
		margin-bottom: 33px;
		&:last-child{
			margin-bottom: 0;
		}	
	}
	&__label{
		width: 161px;
		color: #000000;
		font-size: 13px;
		line-height: 18px;
		font-weight: 600;
		padding-top: 4px;

	}
	&__input{
		flex: 1;
	}
	.form-control{
		height: 30px;
		border-radius: 4px;
		background: #FFFFFF;
		border: 1px solid #b7b7b7;
		width: 100%;
		padding: 0 8px;
		transition: all 0.3s;
		font-size: 13px;
		line-height: 18px;
		font-weight: 600;
		color: #1E1E1E;
		font-family: 'Gilroy', sans-serif;
		&:focus,
		&:hover{
			box-shadow: inset 0 0 0 2px rgba(119,106,255,0.8);
			border-color: rgba(119,106,255,0.8);
		}
	}
}
.ui-autocomplete{
	&.ui-menu .ui-menu-item-wrapper {
    	color: #000000;
	    padding: 0px 9px;
	    font-size: 13px;
	    line-height: 22px;
	    font-weight: 500;
	    font-weight: 600;
	}
	.ui-state-active, 
	&.ui-widget-content .ui-state-active, 
	.ui-widget-header .ui-state-active,
	 a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
		background-color: rgba(119,106,255,0.8);
		color: #fff;
		border: 1px solid rgba(119,106,255,0.8);
	}
}

.ui-autocomplete {
	padding: 10px 0 9px;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border:0;
	border-radius: 0px;
	.ui-state-active {
		color: #fff;
	}
	&.ui-widget.ui-widget-content{
		border: none;
	}
}

.choose-apartment__row_layouts{
	.choose-apartment__label{
		padding-top: 0;
	}
}
.apartment-check{
	display: flex;
	margin: 0 -7px;
	&__item{
		padding: 0 7px;
		width: calc(100% / 6);
		&.active{
			.apartment-check__link{
				box-shadow: inset 0 0 0 2px rgba(119,106,255,0.8);
				border-color: rgba(119,106,255,0.8);
			}
		}
	}
	&__link{
		border-radius: 4px;
		height: 30px;
		border: 1px solid #dbdbdb;
		color: #1E1E1E;
		font-size: 13px;
		line-height: 15px;
		display: block;
		text-align: center;
		padding: 6px 2px 0;
		&:hover{
			box-shadow: inset 0 0 0 2px rgba(119,106,255,0.8);
			border-color: rgba(119,106,255,0.8);
		}
	}
}
.choose-design{	
	max-width: 1024px;
	&__title{
		font-size: 22px;
		line-height: 30px;
		font-weight: 700;
		color: #000;
		text-transform: none;
		letter-spacing: 0;
		margin-bottom: 22px;
	}
}

.choose-design-slider{
	margin: 0 -9px 35px;
	padding: 0 66px;
	&__item{
		padding: 0 9px;
	}
	&__card{
		border: 1px solid #b7b7b7;
		border-radius: 4px;
		padding: 5px 5px 16px;
		transition: all 0.3s;
		p{
			color: #1E1E1E;
			font-size: 12px;
			line-height: 14px;
			opacity: 0.6;
			padding: 3px 11px;
			min-height: 62px;
			margin-bottom: 14px;
		}
		&:hover{
			box-shadow: inset 0 0 0 2px rgba(119,106,255,0.8);
			border-color: rgba(119,106,255,0.8);
		}
	}
	&__img{
		display: block;
		img{
			display: block;
			max-width: 100%;
		}
	}
	&__more{
		display: block;
		max-width: 100px;
		margin:  0 auto;
		height: 27px;
		border-radius: 13px;
		border: 1px solid #0FCB0B;
		color: #1E1E1E;
		text-align: center;
		padding: 5px 5px 0;
		font-size: 12px;
		line-height: 14px;
		&:hover{
			background-color: #0FCB0B;
			color: #fff;
		}
	}
	.slick-arrow{
		background: #F3F3F3;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
		color: #878686;
		&:hover{
			background: #878686;
			color: #fff;
		}
	}
	
	.slick-arrow.slick-prev{
		left: 8px;
	}
	.slick-arrow.slick-next{
		right: 8px;
	}
}
.choose-design__btn{
	padding-left: 67px;
	.btn{
		max-width: 200px;
		padding: 10px 5px ;
	}
}
.apartment-layouts{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -3px 2px;
	&__item{
		padding: 0 3px;
		margin-bottom: 6px;
		width: 33.3%;
		position: relative;
		&.hidden-item{
			display: none;
		}
	}
	&__link{
		display: flex;
		background: #FFFFFF;
		border: 1px solid #b7b7b7;
		border-radius: 4px;
		padding: 9px 5px 10px 10px;
		min-height: 109px;
		overflow: hidden;
		height: 100%;
		&:hover{
			box-shadow: inset 0 0 0 2px #776AFF;
		}
	}
	&__img{
		padding-right: 4px;
		img{
			display: block;
			max-width: 100%;
		}
		&_1{
			img{
				max-width: 70px;
			}
		}
		&_2{
			img{
				max-width: 82px;
			}
		}
		&_3{
			img{
				max-width: 70px;
			}
		}
		&_4{
			img{
				max-width: 70px;
			}
		}
		&_5{
			img{
				max-width: 82px;
			}
		}
		&_6{
			img{
				max-width: 70px;
			}
		}
	}
	&__cont{		
		padding-left: 5px;
	}
	&__name{
		display: block;
		color: #000000;
		font-size: 13px;
		line-height: 15px;
		font-weight: 600;
		margin-bottom: 4px;
		white-space: nowrap;
	}
	&__square{
		color: #1E1E1E;
		opacity: 0.6;
		font-size: 13px;
		line-height: 15px;
	}
	&__tooltipe{
		position: absolute;
		left: 17.5%;
		bottom: 12px;
		color: #000000;
		font-weight: 500;
		font-size: 12px;
		white-space: nowrap;
		line-height: 15px;
		background-color: #fff;
		z-index: 2;
		display: none;
		padding: 5px 10px;
	}
}
.dotted-green-link{
	color: #0FCB0B;
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	border-bottom: 1px dashed #0FCB0B;
	&:hover{
		border-bottom-color: transparent;
	}
}

.list-disabled{
	.apartment-layouts__link{
		opacity: 0.3;
	}
	.apartment-layouts__item{
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
	}
	.apartment-layouts__item:hover{
		.apartment-layouts__tooltipe{
			display: block;
		}
	}
}


.form-filter_right{
	padding-right: 0;
	padding-left: 20px;
	.reload{
		margin-bottom: 25px;
	}
}
.box-constructor__top_right-form{
	padding-right: 220px;
	align-items: center;
	h2{
		color: #000000;
		font-size: 22px;
		font-weight: 700;
		line-height: 26px;
		text-transform: none;
		letter-spacing: 0;
	}
}

.box-constructor-table{
	margin-top: 48px;
	h2{
		color: #000000;
		font-size: 22px;
		font-weight: 700;
		line-height: 26px;
		text-transform: none;
		letter-spacing: 0;
		margin-bottom: 22px;
	}
}
.table-list-scroll{
	overflow: auto;
	display: block;
	width: 100%;
}
.table-list{
	display: table;
	width: 100%;
	max-width: 1190px;
	margin-bottom: 30px;
	&__item{
		display: table-row;
	}
	.col{
		display: table-cell;
		color: #1E1E1E;
		font-size: 15px;
		line-height: 22px;
		vertical-align: middle;
		height: 62px;
		border-bottom: 1px solid #DBDBDB;
		text-align: center;
		padding: 5px 10px;
		white-space: nowrap;
		&_1{
			text-align: left;
			padding-left: 20px;
			width: 15.0%;
		}
		&_2{
			width: 13.7%;
		}
		&_3{
			width: 16.6%;
		}
		&_4{
			width: 11.9%;
		}
		&_5{
			width: 17%;
		}
		&_6{
			width: 11.5%;
		}
		&_7{
			width: 14.3%;
		}

	}
	.table-list__item_title{
		.col{
			background: #EEEFF0;
			height: 44px;
			border-bottom: none;
			font-weight: 600;
		}
	}
	.table-list__item_total{
		.col{
			color: #1E1E1E;
			font-weight: 600;
		}
	}
}

.big-layout{
	margin-top: 28px;
	margin-bottom: 25px;
	h2{
		color: #000000;
		font-size: 22px;
		font-weight: 700;
		line-height: 26px;
		text-transform: none;
		letter-spacing: 0;
		margin-bottom: 33px;
	}
	&__row{
		display: flex;
	}
	&__img{
		position: relative;
		width: 49.4%;
		img{
			display: block;
			max-width: 100%;
		}
	}
	&__cont{
		flex:1;
		padding-left: 23px;
		padding-top: 5px;
		.choose{
			margin-bottom: 12px;
		}
		.reload{
			margin-bottom: 25px;
		}
		.btn-fill{
			max-width: 200px;
			padding: 10px 5px;
		}
	}
}

.eye-list{
	&__item{
		position: absolute;
		&.active{
			.eye-list__link{
				color: #1E1E1E;
			}
		}
	}
	&__link{
		width: 35px;
		height: 35px;
		background: #776AFF;
		display: block;
		border-radius: 50%;		
		color: #fff;
		text-align: center;
		line-height: 35px;
		font-size: 13px;
		position: relative;
		i{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
		&:hover{
			color: #1E1E1E;
		}
	}
}

.constructor-slider .slick-dots li:nth-child(9){
	position: absolute;
	left: calc(100% + 5px);
	top: 0;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.2);
	padding: 5px;
	speak: none;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: icomoon !important;
    font-variant: normal;
    &:before{
    	content: '\e921';
    	position: absolute;
    	top: 6px;
    	left: 100%;
    	color: #FFFFFF;
    	opacity: 0.6;
    	font-size: 7px;
    	transform: rotate(-90deg);
    }
}
.constructor-slider .slick-dots li:nth-child(10){
	position: absolute;
	left: calc(100% + 39px);
	top: 0;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.2);
	padding: 5px;
	speak: none;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: icomoon !important;
    font-variant: normal;
    &:before{
    	content: '\e921';
    	position: absolute;
    	top: 6px;
    	left: 100%;
    	color: #FFFFFF;
    	opacity: 0.6;
    	font-size: 7px;
    	transform: rotate(90deg);
    }
}
.measurements-list__input-wrap{
	position: relative;
	span{
		position: absolute;
		font-weight: bold;
		font-size: 16px;
		line-height: normal;
		color: #1E1E1E;
		right: 10px;
		top: 5px;
	}
	input{
		padding-right: 20px;
	}
}
.btn-fill.disabled{
	border-color: #ccc;
	background: #ccc;
	cursor: default;
	input{
		cursor: default;
	}
}


@media screen and (max-width: 1023px) {
	.big-layout__img{
		width: 60%;
	}
	.eye-list__link{
		width: 25px;
		height: 25px;
		font-size: 9px;
	}
	.box-constructor__top_right-form{
		padding-right: 0;
		&+.box-constructor__wrap{
			flex-direction: column-reverse;
		}
	}
	.form-filter_right{
		padding-left: 0;
	}
	.table-list .col{
		font-size: 13px;
	}
	.apartment-layouts__tooltipe{
		left: 10px;
		max-width: calc(100% - 20px);
		white-space: normal;
	}

}

@media screen and (max-width: 767px) {
	.big-layout{
		display: block;
		margin-top: 14px;
		margin-bottom: 15px;
		&__row{
			display: block;
		}
	}
	.big-layout__cont{
		padding: 0;
		text-align: center;
		.choose{
			justify-content: center;
		}
		.reload{
			justify-content: center;
		}
	}
	.big-layout__img{
		width: 100%;
		margin-bottom: 20px;
	}
	.big-layout h2{
		font-size: 20px;
		margin-bottom: 10px;
	}
	.table-list{
		min-width: 600px;
	}
	.box-constructor__top_right-form h2{
		font-size: 20px;
	}
	.box-constructor-table h2{
		font-size: 20px;
		margin-bottom: 10px;
	}
	.table-list .col{
		height: 45px;
	}
	.choose-apartment__row{
		display: block;
		margin-bottom: 20px;
	}
	.choose-apartment__label{
		width: 100%;
		padding: 0;
		margin-bottom: 8px;
		display: block;
	}
	.apartment-layouts__item{
		width: 50%;
	}
	.apartment-check{
		margin: 0 -3px;
		&__item{
			padding:  0 3px;
		}
	}
	.apartment-check__link{
		font-size: 12px;
	}
	.choose-apartment__title{
		font-size: 20px;
		margin-bottom: 10px;
	}
	.choose-design__title{
		font-size: 20px;
	}
	.choose-design-slider{
		padding: 0 50px;
	}

}

@media screen and (max-width: 480px) {
	.eye-list__link{
		width: 20px;
		height: 20px;
		font-size: 7px;
	}
	.choose-design__title{
		font-size: 18px;
		line-height: 24px;
	}
	.apartment-layouts__item{
		width: 100%;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.choose-apartment__row{
		margin-bottom: 12px;
	}
	.apartment-check{
		flex-wrap: wrap;
		&__item{
			width: 33.3%;
			margin-bottom: 6px;
		}
	}
	.choose-design__btn{
		padding-left: 0;
		text-align: center;
	}
	.apartment-layouts__img{
		width: 100px;
	}
	.apartment-layouts__img img{
		max-width: 100%;
	}
}