
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.box-footer {
	width:100%;
	height: auto;
	text-align:left;
	min-width: $min-width;
	order: 3;	
	background: url(../img/footer-bg.jpg) no-repeat center center;
	background-size: cover;
	color: white;
	&__top {
		padding: 56px 0 67px;
		display: flex;
		border-bottom: 1px solid rgba(255, 255, 255, .2);
	}
	&__bottom {
		padding: 35px 0;
		display: flex;
		align-items: center;
	}
}

.footer-logo {
	width: 140px;
	&__text {
		padding-top: 22px;
	}
}

.footer-nav {
	display: flex;
	padding-left: 42px;
	&__item {
		width: 33.3%;
		padding: 0 38px;
	}
}

.footer-inner-nav {
	&__item {
		display: block;
	}
	&__link {
		display: inline-block;
		white-space: nowrap;
		font-weight: 500;
		line-height: 25px;
		font-size: 14px;
		color: #FFFFFF;
		&:hover {
			color: $link-color;
		}
	}
}

.call-us {
	display: flex;
	align-items: center;
	align-self: flex-start;
	margin-left: auto;
	&__icon {
		font-size: 18px;
		color: $link-color;
		padding-right: 10px;
	}
	&__title {
		font-weight: 500;
		line-height: normal;
		font-size: 13px;
		color: rgba(255, 255, 255, .6);
		
	}
	&__link {
		display: inline-block;
		font-weight: 600;
		line-height: normal;
		font-size: 16px;
		line-height: 27px;
		color: #FFFFFF;
		&:hover {
			color: $link-color;
		}
	}
}

.social-list {
	display: flex;
	align-items: center;
	width: 140px;
	&__item {
		margin-right: 16px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		color: rgba(255, 255, 255, .5);
		font-size: 16px;
        &.vk:hover {
            color: #4c75a3;
        }
        &.twitter:hover {
            color: #28a9e0;
        }
        &.fb:hover {
            color: #3b5999;
        }
        &.phone-1:hover {
            color: #7b519d;
        }
        &.ok:hover {
            color: #f58634;
        }
	}
	&__link.icon-big {
		font-size: 19px;
	}
	&__link.icon-bigger {
		font-size: 24px;
	}
}

.footer-policy {
	margin-left: 81px;
	display: inline-block;
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	color: #FFFFFF;
	border-bottom: 1px solid;
	&:hover {
		border-bottom-color: transparent;
		color: $link-color;
	}
}

.footer-company {
	margin-left: auto;
	font-weight: 600;
	line-height: normal;
	font-size: 13px;
	text-align: right;
	color: rgba(255, 255, 255, .5);
	&__link {
		color: rgba(255, 255, 255, .5);
		&:hover {
			color: $link-color;
		}
	}
}

@media screen and (max-width: 1300px) {
	.box-footer__top {
    	padding: 50px 0;
	}
	.footer-nav__item {
		padding: 0 10px;
	}
	.footer-nav {
		padding-left: 20px;
	}
	.footer-policy {
    	margin-left: 31px;
	}
}

@media screen and (max-width: 1023px) {
	.box-footer__bottom {
    	padding: 25px 0 15px;
	}
	.box-footer__top {
		flex-wrap: wrap;
	}
	.footer-nav-wrap {
		padding-top: 30px;
		width: 100%;
		order: 1;
	}
	.box-footer__top {
		padding: 30px 0;
	}
	.footer-nav {
		padding-left: 0;
		margin: 0 -10px;
	}
	.footer-inner-nav__link {
		white-space: normal;
	}
	.footer-policy {
		margin-left: auto;
	}
	.social-list {
		width: auto;
	}
}

@media screen and (max-width: 767px) {
	.box-footer__bottom {
		padding: 20px 0;
	}
    .box-footer__bottom {
		flex-wrap: wrap;
	}
	.footer-company {
		padding-top: 15px;
		width: 100%;
		order: 1;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.footer-nav {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.footer-nav__item {
		width: 100%;
		padding-bottom: 20px;
		&:last-child {
			padding-bottom: 0;
		}
	}
	.footer-policy {
		font-size: 12px;
	}
	.call-us__link {
		font-size: 14px;
	}
	.box-footer__top {
		padding: 30px 0 20px;
	}
    .social-list-wrap {
        width: 100%;
    }
    .social-list {
        width: 100%;
        justify-content: center;
    }
    .footer-policy {
        margin: 12px auto 0;
    }
}