/*=============================================================
PROTECTION INFO PAGE
=============================================================*/

.box-protection {
	padding: 46px 0 160px;
	&__title {
		font-size: 28px;
		margin-bottom: 25px;
	}
	&__desc {
		padding-bottom: 23px;
		font-size: 14px;
		line-height: 21px;
		color: rgba(30, 30, 30, .8);
		text-align: justify;
	}
}

/*=============================================================
VACANCY PAGE
=============================================================*/

.box-vacancy-top {
	padding: 44px 0 36px;
	&__desc {
		margin-top: 30px;
		max-width: 545px;
	}
}

.box-vacancy {
	padding: 71px 0;
	&__title {
		margin-bottom: 28px;
	}
}

.vacancy-list {
	&-wrap {
		margin-top: 23px;
	}
	&__item {
		max-width: 1041px;
		padding: 29px 0 30px;
		display: flex;
		border-bottom: 1px solid rgba(205, 205, 205, .5);
	}
	& .col_1 {
		width: calc(100% - 180px);
	}
	& .col_2 {
		display: flex;
		flex-direction: column;
		text-align: right;
		width: 180px;
	}
	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: 1;
		color: #1E1E1E;
	}
	&__geo,
	&__date {
		padding: 14px 0px 9px;
		font-size: 14px;
		line-height: 21px;
		color: rgba(30, 30, 30, .5);
	}
	&__desc {
		font-size: 15px;
		line-height: 23px;
		color: rgba(30, 30, 30, .8);
		max-height: 90px;
		overflow: hidden;
		&.active {
			max-height: 100%;
		}
	}
	&__more {
		display: inline-block;
		margin-top: 21px;
		font-weight: 600;
		font-size: 14px;
		line-height: normal;
		color: $link-color;
		border-bottom: 1px dashed $link-color;
		cursor: pointer;
		transition: $transition; 
		& span:last-child {
			display: none;
		}	
		&.active {
			& span:first-child {
				display: none;
			}
			& span:last-child {
				display: block;
			}			
		}
		&:hover {
			border-bottom-color: transparent;
		}
	}
	&__salary {
		font-weight: 500;
		font-size: 20px;
		line-height: 1;
		color: #1E1E1E;
	}
	&__btn {
		margin-top: auto;
		transform: translateY(10px);
		.btn {
			max-width: 161px;
    		padding: 7px 19px;
		}
	}
}

.pagination-list {
	display: flex;
	&-wrap {
		margin-top: 26px;
	}
	&__item {
		display: block;
		margin-right: 10px;
		&.active .pagination-list__link {
			background: rgba(119, 106, 255, .2);
			color: #1E1E1E;
			font-weight: 500;
		}
	}
	&__link {
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		font-weight: 500;
		font-size: 16px;
		line-height: 40px;
		text-align: center;
		color: rgba(30, 30, 30, .5);	
		transition: $transition;
		&:hover {
			color: #1E1E1E;
		}		
	}
}

.box-wait {
	padding: 44px 0 134px;
	&__title {
		text-transform: none;
		letter-spacing: 0;
		font-weight: bold;
		line-height: normal;
		color: $link-color1;
	}
}

/*=============================================================
COOPERATION PAGE
=============================================================*/

.box-cooperation {
	padding: 44px 0 160px;
}

.cooperation-list {
	flex-wrap: wrap;
	display: flex;
	margin: -30px -25px;
	&-wrap {
		margin-top: 45px;
	}
	&__item {
		width: 50%;
		padding: 30px 25px;
	}
    &__wrap:hover {
        .cooperation-list__subtitle {
            color: $link-color;
        }
        .cooperation-list__img img {
            transform: scale(1.07);
        }
    }
    &__img {
        display: block;
        overflow: hidden;
    }
	&__img img {
		width: 100%;
        transition: all 2s;
	}
	&__title {
		margin-top: 19px;
		font-weight: 500;
		font-size: 16px;
		line-height: normal;
		text-transform: uppercase;
		color: rgba(30, 30, 30, .9);
	}
	&__subtitle {
        display: block;
		padding: 16px 0 10px;
		font-weight: bold;
		font-size: 22px;
		line-height: normal;
		color: #1E1E1E;
	}
	&__desc {
		font-weight: normal;
		font-size: 15px;
		line-height: 23px;
		color: rgba(30, 30, 30, .8);
		max-width: 530px;
	}
	&__bottom {
		margin-top: 35px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__link {
		display: inline-block;
		font-size: 14px;
		line-height: normal;
		color: $link-color;
		border-bottom: 1px dashed $link-color;
		&:hover {
			border-bottom-color: transparent;
		}
	}
	&__btn {
		width: 100%;
		max-width: 270px;
	}
}

/*=============================================================
ABOUT COMPANY PAGE
=============================================================*/

.box-about {
	padding: 48px 0 89px;
	&__wrap {
		display: flex;
		margin-top: 41px;
		position: relative;
	}
	&__img {
		width: 46%;
	}
	&__info {
		width: 54%;
	}	
	&__row {
		padding-left: 60px;
		padding-bottom: 62px;
		position: relative;
	}
	&__row_dark {
		padding-top: 37px;
		background: #EEEFF0;
		padding-bottom: 148px;
	}
	&__title {
		line-height: 1;
		text-transform: none;
		font-size: 22px;
		padding-bottom: 26px;
		position: relative;
		z-index: 2;
	}
	&__desc {
		max-width: 451px;
	}
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		z-index: 1;
	}
	&__logo img {
		position: absolute;
		display: block;
		top: 100%;
		transform: translateY(-69%);
		right: 40px;
		width: 378px;
		z-index: 1;
	}
}

.requisites-list {
	position: relative;
	z-index: 2;
	&__item {
		font-size: 15px;
		line-height: 30px;
		color: rgba(30, 30, 30, .8);
	}
}

/*=============================================================
CARD PAGE
=============================================================*/

.box-card {
	padding: 38px 0 109px;
	&__wrap {
		display: flex;
	}
	&__slider {
		width: 50%;
	}
	.design-board-rating-wrap {
    	margin-top: -22px;
    	padding: 0;
	}
	.form-filter__select {
		max-width: 350px;
		padding: 17px 20px;
		height: 50px;
	}
	.form-filter__select-top {
		height: auto;
	}
	.form-filter__select-title {
		font-weight: 500;
		font-size: 13px;
		line-height: normal;
		color: #8F8F8F;
		span {
			color: rgba(30, 30, 30, 1);
		}
	}
	.select-list__item {
		color: #8F8F8F;
		padding: 7px 20px;
		span {
			color: rgba(30, 30, 30, 1);
		}
	}
	.tab-wrap {
		margin-top: 57px;
	}
	.nav-tab-list {
		justify-content: flex-start;
	}
	.nav-tab-list__item {
		margin-right: 45px;
	}
}

.card-slider {
    &__item {
        cursor: pointer;
    }
    .slick-arrow.slick-prev {
		left: -20px;
	}
	.slick-arrow.slick-next {
		right: -20px;
	}
}

.card-slider-nav {
	margin: 0 -10px;
	margin-top: 20px;
	.slick-arrow.slick-prev {
		left: -10px;
	}
	.slick-arrow.slick-next {
		right: -10px;
	}
	&__item {
		padding: 0 10px;
		img {
			cursor: pointer;
		}
        &.slick-current .card-slider-nav__img {
            border: 1px solid #09C806;
        }
	}
    &__img {
        border: 1px solid transparent;
        transition: $transition;
        &:hover {
            border: 1px solid #09C806;
        }
    }
}

.card-info {
	width: 50%;
	padding-left: 56px;
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 4px;
	}
	&__bottom {
		margin-top: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.catalog-goods-list__heart {
			margin-left: 20px;
		}
	}
	&__title {
		letter-spacing: .5px;
		color: #1E1E1E;
        font-size: 38px;
		text-transform: none;
        font-weight: 700;
	}
	&__subtitle {
		margin-top: 5px;
		font-size: 18px;
		line-height: 27px;
		color: rgba(30, 30, 30, .8);
		font-weight: normal;
	}
	&__price-current {
		margin-top: 22px;
    	margin-bottom: 10px;
		font-weight: bold;
		font-size: 24px;
		line-height: normal;
		color: $link-color;
	}
	&__price-old {
		font-weight: normal;
		font-size: 16px;
		line-height: normal;
		text-decoration-line: line-through;
		color: rgba(30, 30, 30, .8);
	}
	&__vendor-code {
		margin: 25px 0 3px;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: rgba(30, 30, 30, .5);
	}
	&__bonus {
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		color: $link-color1;
	}
	&__desc {
		margin: 13px 0 30px;
		max-width: 361px;
	}
}

.card-desc {
	display: flex;
	margin: 0 -10px;
	margin-top: 43px;
	max-width: 1200px;
	.col {
		width: 33.33%;
		padding: 0 10px;
	}
	&__text {
		padding: 0;
		margin-bottom: 15px;
	}
}

.size-list {
	width: 100%;
	font-size: 15px;
	line-height: 24px;
	color: rgba(30, 30, 30, .8);
	padding: 25px 22px 17px;
	background: rgba(238, 239, 240, .6);
	&__row {
		margin-bottom: 19px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		line-height: 1;
		padding-bottom: 12px;
		margin-bottom: 7px;
		border-bottom: 1px solid rgba(205, 205, 205, .5);
	}
	&__item {
		line-height: 25px;
		strong {
			white-space: nowrap;
		}
	}
}

/*=============================================================
FAVORITES PAGE
=============================================================*/

.box-favorites {
	padding: 48px 0 121px;
	.catalog-goods {
		padding-top: 40px;
		padding-left: 0;
		width: 100%;
	}
	.catalog-goods-top {
		margin-top: -58px;
		justify-content: flex-end;
		margin-bottom: 24px;
		padding-bottom: 30px;
		position: relative;
        z-index: 65;
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 5000px;
			height: 1px;
			transform: translateX(-50%);
			background-color: rgba(30, 30, 30, .1);
		}  
	}
    .catalog-goods-list {
        position: relative;
        z-index: 60;
    }
	.catalog-goods-top__count {
		margin-left: 38px;
	}
	.catalog-goods-list__item {
		width: 20%;
	}
	.btn-fill {
		max-width: 195px;
		margin: 21px auto 0;
		display: block;
	}
	.design-board-slider__img::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: rgba(30, 30, 30, 0);
		z-index: 10;
		transition: $transition;
	}
	.catalog-goods-list__item:hover {
		.design-board-slider__img::after {
			background: rgba(30, 30, 30, .1);
		}
		.catalog-goods-list__remove {
			opacity: 1;
		}
	}
	.design-board-slider__wrap {
		position: relative;
	}
	.tab-wrap {
		margin-top: 29px;
	}
	.nav-tab-list {
		justify-content: flex-start;
		position: relative;
		display: inline-flex;
		z-index: 70;
	}
}

.catalog-goods-list__sold-out {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	color: #1E1E1E;
	background: rgba(233, 0, 0, .3);	
	opacity: 0;
	z-index: 12;
	span {
		display: inline-block;
		margin-right: 8px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		font-family: 'Roboto';
		font-size: 15px;
		line-height: 23px;
		border: 1px solid #000000;
		color: #000;
		text-align: center;
		cursor: pointer;
	}
}

.catalog-goods-list__item.sold-out .catalog-goods-list__sold-out {
	opacity: 1;
}

.catalog-goods-list__remove {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 36px;
	height: 36px;
	display: block;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, .8);
	color: #CDCDCD;
	line-height: 36px;
	font-size: 32px;
    transform: rotate(45deg);
	z-index: 13;
	opacity: 0;
	transition: $transition;
	&:hover {
		background: rgba(255, 255, 255, 1);
		color: #1E1E1E;
	}
}

.interior-list {
	display: flex;
	flex-wrap: wrap;
	margin: -30px;
	&-wrap {
		padding-top: 7px;
	}
	&__item {
		width: 50%;
		padding: 25px 30px;
	}
	&__title {
		font-weight: bold;
		font-size: 22px;
		line-height: normal;
		color: #1E1E1E;
	}
	&__option {
		margin: 6px 0 15px;
		font-weight: normal;
		font-size: 15px;
		line-height: 23px;
		color: rgba(15, 203, 11, .8);
	}
	&__bottom {
		margin-top: 13px;
		display: flex;
		justify-content: space-between;
	}
	&__price {
		margin-top: 10px;
		font-weight: bold;
		font-size: 24px;
		line-height: normal;
		color: $link-color;
	}
	.btn-fill {
		margin-top: 10px;
	}
	.catalog-goods-bottom {
		margin-top: 77px;
	}
}

.favorites-slider {
	.slick-arrow {
		opacity: 0;
	}
	&:hover {
		.slick-arrow {
			opacity: 1;
		}
	}
	.slick-arrow.slick-next {
		right: -20px;
	}
	.slick-arrow.slick-prev {
		left: -20px;
	}
	.catalog-goods-list__remove {
		color: #1E1E1E;
		background: #FFFFFF;
		&:hover {
			color: $link-color1;
		}
	}
	&__item {
		cursor: pointer;
	}
	&__item:hover {
		.design-board-slider__icon,
		.catalog-goods-list__remove,
		.favorites-slider__edit {
			opacity: 1;
		}
		
	}
	&__edit {
		position: absolute;
		top: 10px;
		right: 55px;
		width: 36px;
		height: 36px;
		display: block;
		cursor: pointer;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		color: #000;
		line-height: 36px;
		font-size: 14px;
		z-index: 13;
		opacity: 0;
		transition: $transition;
		&:hover {
			color: $link-color1;
		}
	}
}

.interior-measurements {
	&__item {
		font-weight: 500;
		font-size: 14px;
		line-height: 23px;
		color: rgba(30, 30, 30, .8);	
		span {
			color: $link-color1;
		}
	}
}

.tab-cont.hide .slick-slider {
	display: none;
}

/*=============================================================
QUALITY PAGE
=============================================================*/

.box-quality {
	padding: 49px 0 75px;
	&__title {
		margin-top: 38px;
		text-transform: none;
		color: #1E1E1E;
		letter-spacing: 0;
		margin-bottom: -2px;
	}
    &__subtitle {
        margin: 13px 0 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #1E1E1E;
    }
	&__desc {
        margin-top: 15px;
        max-width: 650px;
	}
}

.quality-form {
	&-wrap {
		padding-top: 34px;
	}
	&__row {
		margin-bottom: 22px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: normal;
		color: #1E1E1E;
		margin-bottom: 20px;
	}
	&__rating-row {
		display: flex;
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__rating-title {
		width: 326px;
		padding-left: 30px;
		display: inline-block;
		font-weight: 600;
		font-size: 13px;
		line-height: 19px;
		margin-right: 7px;
		color: #1E1E1E;
		position: relative;
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 5px;
			left: 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
            background: linear-gradient(112.24deg, #88FA63 -3.03%, #00C500 100.27%), #C4C4C4;
		}  
	}
	&__input {
		display: inline-block;
		font-size: 13px;
		line-height: 26px;
		padding: 0 7px;
		margin-left: 12px;
		margin-top: -2px;
		display: inline-block;
		width: calc(100% - 129px);
		border: none;
		height: 26px;
		font-weight: 600;
		color: #1E1E1E;
		background: rgba(212, 212, 212, .4);
	}
	&__textarea {
		font-size: 13px;
		line-height: normal;
		padding: 10px 7px;
		margin-bottom: 9px;
		border: none;
		width: 100%;
		max-width: 983px;
		height: 131px;
		overflow: hidden;
		background: rgba(212, 212, 212, .4);
		font-weight: 600;
		color: #1E1E1E;
		resize: none;
	}
	.form-filter__checkbox {
		max-width: 983px;
	}
	.form-filter__accord-wrapper {
		max-height: inherit;
	}
	.form-filter__radio-wrap {
    	padding-top: 9px;
		padding-bottom: 8px;
	}
	.form-filter__accord-wrapper {
    	padding: 7px 0;
	}
	.form-filter__checkbox-title {
		line-height: 19px;
	}
	.form-filter__checkbox {
    	margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
			display: flex;
		}
	} 
	.form-filter__radio {
		margin-bottom: 17px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/*=============================================================
STOCK PAGE
=============================================================*/

.box-stock {
	padding: 49px 0 61px;
	&__desc {
		padding-top: 15px;
	}
}

.stock-list {
	&-wrap {
		padding-top: 38px;
		padding-bottom: 65px;
	}
	&__item {
		display: flex;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
        &:hover {
            .stock-list__img img {
                transform: scale(1.07);
            }
            .stock-list__subtitle {
                color: $link-color;
            }
        }
	}
	&__img {
		width: 380px;
        overflow: hidden;
        img {
            transition: all 2s;
        }
	}
	&__info {
		padding-left: 40px;
		width: calc(100% - 380px);
	}
	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: normal;
		text-transform: uppercase;
		color: rgba(30, 30, 30, .9);
	}
	&__subtitle {
        display: block;
		margin: 14px 0;
		font-weight: bold;
		font-size: 22px;
		line-height: normal;
		color: #1E1E1E;
	}
	&__desc {
		font-weight: normal;
		font-size: 15px;
		line-height: 23px;
		color: rgba(30, 30, 30, .8);
		max-width: 600px;
	}
	&__link-wrap {
		margin-top: 22px;
	}
	&__link {		
		display: inline-block;
		font-weight: 600;
		font-size: 14px;
		line-height: normal;
		color: $link-color;
		border-bottom: 1px dashed;
		&:hover {
			border-bottom-color: transparent;
		}
	}
}

/*=============================================================
QUESTIONS PAGE
=============================================================*/

.box-questions {
	padding: 49px 0 162px;
	&__wrap {
		padding-top: 24px;
		display: flex;
	}
}

.questions {
	width: 404px;
}

.answers {
	width: calc(100% - 404px);
	padding-left: 86px;
	padding-top: 4px;
	&__desc-wrap {
		max-height: 83px;
		margin: 26px 0 12px;
		overflow: hidden;
		&.active {
			max-height: 100%;
		}
	}
	&__desc {
		font-size: 13px;
		line-height: 21px;
		max-width: 650px;
	}
	&__link {
		display: inline-block;
		font-weight: 600;
		font-size: 14px;
		line-height: normal;
		color: $link-color;
        cursor: pointer;
		border-bottom: 1px dashed;
		&:hover {
			border-bottom-color: transparent;
		}
		span:last-child {
			display: none;
		}
		&.active {
			span:first-child {
				display: none;
			}
			span:last-child {
				display: block;
			}
		}
	}
}

.questions-row {
	margin-bottom: 12px;
	&:last-child {
		margin-bottom: 0;
	}
	&__top {
		padding: 5px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #DBDBDB;
		cursor: pointer;
	}
	&__top.active .questions-row__icon {
		transform: scaleY(1);
	}
	&__title {
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #1E1E1E;
	}
	&__icon {
		font-size: 10px;
		color: #1E1E1E;
		transform: scaleY(-1);
		transition: $transition;
	}
}

.questions-list {
	padding: 15px 0 5px;
	display: none;
	&__item {
		margin: 5.5px 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item.active {
		.questions-list__link {
			color: $link-color1;
			cursor: default;
			&::before {
				opacity: 1;
				left: 6px;
			}
		}
	}
	&__link {
		display: inline-block;
		padding-left: 30px;
		font-weight: 600;
		font-size: 13px;
		line-height: normal;
		color: #1E1E1E;
		position: relative;
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: -1px;
			left: 1px;
			height: 12px;
			width: 7px;
			transform: skewX(40deg);
			background: linear-gradient(122.17deg, #88FA63 -3.03%, #00C500 100.27%);
			opacity: 0;
			transition: $transition;
		}  
		&:hover {
			color: $link-color1;
		}
	}
}

/*=============================================================
ERROR PAGE
=============================================================*/

.box-error {
    padding: 139px 0 47px;
    text-align: center;
    &__img img {
        margin: 0 auto;
    }
    &__title.title {
        max-width: 440px;
        margin: 43px auto 0;
        font-weight: 600;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: 0.05em;
        text-transform: none;
        color: $link-color1;
        span {
            display: inline-block;
            padding-right: 17px;
            font-weight: bold;
            font-size: 48px;
            line-height: normal;
            letter-spacing: 0.05em;
            color: $link-color1;
        }
    }
    &__subtitle {
        margin: 25px 0 13px;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        color: rgba(30, 30, 30, 0.85);
    }
}

.error-list {
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: $link-color;
        &:hover {
            color: $link-color1;
        }
    }
}

/*=============================================================
DELIVERY PAGE
=============================================================*/

.box-delivery {
    padding: 49px 0 72px;
    .title {
        margin-bottom: 13px;
    }
    &__row {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__subtitle {
        margin: 0 0 13px;
        font-weight: 500;
        font-size: 24px;
        line-height: normal;
        color: $link-color1;
    }
    &__desc_narrow {
        max-width: 570px;
    }
}

.delivery-list {
    display: flex;
    margin: 0 -50px;
    max-width: 1320px;
    &-wrap {
        margin-top: 48px;
        padding-bottom: 5px;
    }
    &__item {
        width: 33.33%;
        padding: 0 50px;
    }
    &__icon {
        font-size: 42px;
        color: #1E1E1E;
        opacity: .5;
    }
    &__icon_big {
        font-size: 66px;
        margin: -12px 0 -16px;
    }
    &__title {
        margin: 22px 0 13px;
        font-weight: 600;
        font-size: 20px;
        line-height: normal;
        color: #1E1E1E;
    }
    &__subtitle {
        margin-bottom: 6px;
        font-weight: normal;
        font-size: 11px;
        line-height: normal;
        text-shadow: 0 0;
        color: rgba(30, 30, 30, .3);
    }
    p {
        font-size: 14px;
        line-height: 20px;
        color: rgba(30, 30, 30, .9);
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}


@media (max-width: 1280px) {
    .card-info__title {
        font-size: 38px;
    }
	.box-about__logo img {
		width: 320px;
	}
	.box-about__row {
		padding-left: 50px; 
		padding-bottom: 50px;
	}
	.card-info {
		padding-left: 40px;
	}
	.box-favorites .catalog-goods-list__item {
		width: 25%;
	}
	.interior-list {
		margin: -25px -15px;
	}
	.interior-list__item {
    	padding: 20px 15px;
	}
    .box-protection {
        padding: 46px 0 140px;
    }
    .delivery-list {
        margin: 0 -20px;
    }
    .delivery-list__item {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1023px) {
    .card-info__title {
        font-size: 32px;
    }
    .delivery-list__title {
        font-size: 18px;
    }
    .box-error {
        padding: 130px 0 50px;
    }
    .box-protection {
        padding: 46px 0 110px;
    }
	.questions {
		width: 365px;
	}
	.answers {
		width: calc(100% - 365px);
		padding-left: 35px;
	}
	.box-questions {
		padding: 49px 0 120px;
	}
	.stock-list__img {
		width: 320px;
	}
	.stock-list__subtitle {
		font-size: 20px;
	}
	.stock-list__info {
		padding-left: 30px;
		width: calc(100% - 320px);
	}
	.quality-form__title {
		font-size: 17px;
	}
	.box-favorites .catalog-goods-top__count {
		margin-left: 23px;
	}
	.box-favorites .catalog-goods-list__item {
		width: 33.33%;
	}
	.box-wait {
		padding: 30px 0 110px;
	}
	.cooperation-list__btn {
		max-width: 180px;
	}
	.cooperation-list__bottom {
    	margin-top: 25px;
	}
	.cooperation-list {
		margin: -25px -15px;
	}
	.cooperation-list__item {
		padding: 25px 15px;
	}
	.box-cooperation {
		padding: 44px 0 120px;
	}	
	.box-about__logo img {
		width: 250px;
	}
	.box-about__row {
    	padding-left: 35px; 
		padding-bottom: 35px;
	}
	.box-about__row_dark {
		padding-bottom: 100px;
	}
	.card-info {
		padding-left: 30px;
	}
	.box-card .nav-tab-list__link {
		font-size: 19px;
	} 
	.card-desc {
		flex-wrap: wrap;
	}
	.card-desc .col {
		width: 50%; 
		margin-bottom: 30px;	
	}
	.box-card__slider {
		width: 55%;
	}
	.card-info {
		width: 45%;
	}
	.card-info__top {
		flex-wrap: wrap;
		min-height: 90px;
		.col {
			width: 100%;
		}
	}
	.box-card .design-board-rating-wrap {
    	margin-top: 0; 
	}
	.card-info__subtitle {
		margin-top: 0;
	}
	.card-info__top {
		align-items: flex-start;
	}
	.box-card .nav-tab-list__item {
		margin-right: 35px;
	}
	.box-card {
		padding: 38px 0 70px;
	}
	.card-desc {
		justify-content: center;
	}
	.interior-list__bottom {
		flex-wrap: wrap;
		.col {
			width: 100%;
		}
	}
	.interior-list .btn-fill {
		margin-top: 25px;
	}
	.favorites-slider {
		.design-board-slider__icon,
		.catalog-goods-list__remove,
		.favorites-slider__edit,
		.slick-arrow {
			opacity: 1;
		}
	}
	.favorites-slider .slick-arrow.slick-next {
		right: 10px;
	}
	.favorites-slider .slick-arrow.slick-prev {
		left: 10px;
	}
    .box-error__title {
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 0;
    }
    .box-error__title span {
        font-size: 32px;
        padding-right: 5px;
    }
    .box-about__img {
        min-height: 593px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 767px) {
    .card-info__title {
        font-size: 28px;
    }
    .card-slider {
        .slick-arrow.slick-prev {
            left: 10px;
        }
        .slick-arrow.slick-next {
            right: 10px;
        }
    }
    .delivery-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .box-delivery__subtitle {
        font-size: 22px;
        text-align: center;
    }
    .delivery-list__item {
        width: 50%;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .box-error {
        padding: 110px 0 40px;
    }
	.box-questions__wrap {
		flex-wrap: wrap;
	}
	.questions {
		width: 100%;
	}
	.answers {
		padding-top: 35px;
		width: 100%;
		padding-left: 0px;
	}
	.stock-list__img {
		width: 100%;
		margin-bottom: 25px;
		img {
			margin: 0 auto;
		}
	}
	.stock-list__item {
		margin-bottom: 40px;
	}
	.stock-list__info {
		padding-left: 0px;
		width: 100%;
	}
	.stock-list__subtitle {
		font-size: 18px;
	}
	.stock-list__item {
		flex-wrap: wrap;
	}
	.quality-form__title {
		font-size: 16px; 
	}
	.quality-form__btn {
		text-align: center;
	}
	.box-favorites .nav-tab-list {
		display: flex;
	}
	.interior-list__item {
		width: 100%;
	}
	.box-favorites .catalog-goods-top {
		margin-top: 0;
		display: block;
	}
	.box-favorites .catalog-goods-top__count {
		margin-left: 0;
		margin-top: 15px;
		margin-bottom: 0;
	}
	.box-favorites .catalog-filter-wrap {
		margin-bottom: 0;
	}
	.box-favorites {
		padding: 40px 0 80px;
	}
	.box-favorites .nav-tab-list {
		justify-content: center;
	}
	.box-favorites .catalog-goods-list__item {
		width: 50%;
	}
	.card-desc {
		margin-top: 25px;
	}
	.box-card .tab-wrap {
		margin-top: 45px;
	}
	.card-desc .col {
		width: 100%; 
		margin-bottom: 0;
	}
	.slick-slide img {
		width: 100%;
	}
	.card-info__bottom {
		justify-content: center;
	}
	.box-card .form-filter__select {
		margin: 0 auto;
	}
	.box-card__wrap {
		flex-wrap: wrap; 
		position: relative;
	}
	.box-card__slider {
		width: 100%;
		margin-top: 110px;
	}
	.card-info__top {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}
	.card-info {
		width: 100%;
		padding-left: 0;
	}
	.box-vacancy {
		padding: 50px 0 60px;
	}
	.box-vacancy-top {
		padding: 40px 0 36px;
	}
	.box-cooperation {
		padding: 44px 0 90px;
	}	
	.box-about__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, .9);
		}
	}
	.box-about__img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.box-about__info {
		width: 100%;
	}
	.box-about__row {
		padding-left: 0;
	}
	.box-about__row_dark {
		padding-top: 0;
		background-color: transparent;
	}
	.card-info__vendor-code {
    	margin: 15px 0 0px; 
	}
	.box-card .nav-tab-list {
		flex-wrap: wrap;
	}
	.box-card .nav-tab-list__item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
		text-align: center;
	}
}

@media screen and (max-width: 650px) {
	.cooperation-list__item {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
    .card-info__title {
        font-size: 24px;
    }
    .delivery-list__item {
        width: 100%;
    }
    .box-delivery__subtitle {
        font-size: 19px;
    }
    .box-error {
        padding: 95px 0 30px;
    }
    .box-error__title {
        font-size: 20px;
        line-height: 24px;
    }
    .box-protection__title {
        font-size: 24px;
    }
    .box-protection__desc {
        padding-bottom: 15px;
    }
	.box-questions {
		padding: 40px 0 80px;
	}
	.box-stock {
		padding: 40px 0 30px;
	}
	.quality-form__input {
		margin-top: 15px;
		margin-left: 0;
		width: 100%;
	}
	.quality-form .form-filter__checkbox:last-child {
		display: block;
	}
	.quality-form__rating-row {
		display: block;
	}
	.quality-form .form-filter__rating {
		margin-top: 10px;
        padding-left: 30px;
	}
	.box-quality {
		padding: 40px 0 75px;
	}
	.interior-list__price {
		text-align: center;
	}
	.box-favorites .catalog-goods-list__item {
		width: 100%;
	}
	.box-favorites .catalog-goods {
    	padding-top: 25px; 
	}
	.size-list {
    	padding: 25px 15px;
	}
	.size-list__item {
		font-size: 14px;
	}
	.box-protection {
		padding: 40px 0;
	}
	.pagination-list {
		justify-content: center;
	}
	.pagination-list__item {
		margin: 0 5px;
	}
	.vacancy-list__item {
		flex-direction: column;
	}
	.vacancy-list .col_1,
	.vacancy-list .col_2 {
		width: 100%;
		flex: 1 1 auto;
	}
	.vacancy-list__geo, .vacancy-list__date {
    	padding: 9px 0px;
	}
	.vacancy-list .col_2 {
		margin-top: 20px;
        text-align: left;
	}
	.vacancy-list__title,
	.vacancy-list__geo,
	.vacancy-list__desc {
		text-align: left;
	}
	.box-wait {
		padding: 30px 0 80px;
	}
	.vacancy-list__btn {
		margin-top: 10px;
		transform: none;
	}
	.cooperation-list__btn {
		max-width: 150px;
	}
	.box-about__logo img {
		width: 180px;
	}
	.box-about__row_dark {
		padding-bottom: 70px;
	}
	.box-about {
		padding: 40px 0 80px;
	}
	.card-info__subtitle {
    	margin-top: 0;
    	font-size: 16px;
	}
	.box-card__slider {
		margin-top: 100px;
	}
	.box-card {
    	padding: 25px 0 60px;
	}
	.card-info__desc {
    	margin: 10px 0 20px;
	}
}

@media (max-width: 360px) {
	.card-slider-nav {
		margin: 0 -7.5px;
		margin-top: 15px;
	}
	.card-slider-nav__item {
		padding: 0 7.5px;
	}
}