/*
================================================================================
|                                     POPUPS                                  |
================================================================================
*/

.fancybox-margin {
	.web .box-header {
		padding-right: 17px;
	}
	.web {
		margin-right: 17px !important;
	}
}

.popup {
	width: 490px;
	padding: 35px 83px;
	max-width: 100%;
	color: #000;
	text-align: center;
	&-box {
		position: absolute;
		left: -9999px;
		top: -9999px;
		opacity: 0;
	}
	&__title {
		margin-bottom: 32px;
		font-weight: bold;
		font-size: 28px;
		line-height: 1;
		color: #1E1E1E;
	}
	&__desc {
		font-size: 14px;
		line-height: 20px;
		color: rgba(30, 30, 30, .8);
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
	&__wrap {
		padding-top: 30px;
	}
	&__btn {
		margin-top: 18px;
	}
	.backcall-form__row {
		margin-bottom: 19px;
	}
}

.popup-signin {
	.social-list {
		justify-content: center;
		width: 100%;
	}
	.social-list-wrap {
		margin-bottom: 5px;
	}
	.social-list__item {
		margin: 0 6px;
	}
	.social-list__link {
    	color: $link-color;
	}
}

.social-list-title {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #1E1E1E;
	position: relative;
	span {
		display: inline-block;
		padding: 0 24px;
		background-color: #f9f9f9; 
		position: relative;
		z-index: 2;
	}
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: rgba(30, 30, 30, .2);
		z-index: 1;
	}
 
}

.popup-register {
	padding: 0px 0 36px;
	display: flex;
	justify-content: space-between;
	&__link {
		display: inline-block;
		font-weight: 600;
		font-size: 12px;
		line-height: 13px;
		border-bottom: 1px solid $link-color;
		color: $link-color;
		&:hover {
			color: $link-color1;
			border-bottom-color: transparent;
		}
	}
	&__wrap:nth-child(2) .popup-register__link {
		color: $link-color1;
		border-bottom: 1px solid $link-color1;
		&:hover {
			color: $link-color;
			border-bottom-color: transparent;
		}
	}
}

.popup-submit,
.popup-vacancy {
	.popup__title {
		margin-bottom: 14px;
	}
	.popup__desc {
		margin-bottom: 32px;
	}
}

.popup-partners {
	.popup__desc {
		max-width: 270px;
	}
	.catalog-filter {
		margin: 35px 0 27px;
		justify-content: space-between;
	}
	.popup__title {
		margin-bottom: 18px;
	}
	.catalog-filter__top-type {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: $link-color1;
	}
	.goods-filter-list__item {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: $link-color1;
	}
	.catalog-filter__title {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: #1E1E1E;
	}
}

.popup-check-out {
	padding: 35px 49px;
	.popup__desc {
		max-width: 100%;
	}
	.catalog-filter {
		margin: 35px 0 27px;
		justify-content: space-between;
	}
	.popup__title {
		margin-bottom: 18px;
	}
	.catalog-filter__top-type {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: $link-color1;
	}
	.goods-filter-list__item {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: $link-color1;
	}
	.catalog-filter__title {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: #1E1E1E;
	}
}

.popup-response {
	width: 410px;
	padding: 32px 24px;
	&__subtitle {
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 16px;
		line-height: 21px;
		color: $link-color1;
	}
	.popup__title {
		margin-bottom: 10px;
	}
	.backcall-form__textarea {
		padding: 10px 12px;
		height: 115px;
		border: 1px solid #D4D4D4;
		border-radius: 4px;
	}
	.popup__btn {
		margin-top: 0;
	}
}

.popup-constructor {
    width: 850px;
    padding: 27px 36px 48px;
    .popup__desc {
        margin: -13px 0 16px;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #1E1E1E;
        max-width: 100%;
        text-align: left;
    }
    .popup__btn {
        margin-top: 32px;
    }
}

.constructor-info {
    text-align: left;
    &__row {        
        border-bottom: 1px solid rgba(30, 30, 30, .4);
    }
    &__header {
        padding: 16px 0;
        padding-left: 26px;
        cursor: pointer;
        position: relative;
        &::after {
            content: "+";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            color: $link-color1;
            font-size: 30px;
            line-height: 51px;
        }
    }
    &__header.active {
        &::after {
            content: "-";
        }
    }
    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        color: #1E1E1E;
    }
    &__desc {
        display: none;
    }
    &__price {
        font-size: 18px;
        font-weight: bold;
        line-height: normal;
        color: #1E1E1E;
    }
    &__price-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #1E1E1E;
    }
    &__price-desc {
        margin-top: 11px;
        margin-bottom: -3px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: rgba(30, 30, 30, .6);
    }
    &__row-bottom {
        padding: 19px 0;
        display: flex;
        justify-content: space-between;
        .col {
            width: auto;
        }
        .col_2 {
            text-align: right;
        }
    }
}

.constructor-table {
    .col_1 {
        width: 9%;
    }
    .col_2 {
        width: 17%;
    }
    .col_3 {
        width: 24%;
    }
    .col_4 {
        width: 16%;
    }
    .col_5 {
        width: 19%;
    }
    .col_6 {
        width: 15%;
    }
    &-wrap {
        padding-bottom: 38px;
    }
    &__header {
        padding: 22px 20px 8px;
        display: flex;
        background: #EEEFF0;
        height: 60px;
        border-bottom: 1px solid #DBDBDB;
    }
    &__row {
        display: flex;
        padding: 19px 20px;
        font-size: 15px;
        color: rgba(30, 30, 30, .8);
        border-bottom: 1px solid #DBDBDB;
    }
    &__title {
        font-weight: 600;
        font-size: 14px;
        line-height: normal;
        margin-bottom: 1px;
        color: rgba(30, 30, 30, .8);
    }
    &__subtitle {
        font-weight: normal;
        font-size: 12px;
        line-height: 1;
        color: rgba(30, 30, 30, .6);
    }
    &__number {
        font-size: 14px;
        color: rgba(30, 30, 30, .5);
    }
    &__price {
        font-weight: 600;
    }
    &__footer {
        padding: 13px 20px 17px;
        background: rgba(119, 106, 255, .1);
    }
    &__footer-row {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        line-height: normal;
        font-weight: 600;
        color: rgba(30, 30, 30, .8);
        margin-bottom: 11px;
        &:last-child {
            margin-bottom: 0;
        }
        .col {
            width: auto
        }
    }
}

.popup-constructor-info {
    width: 370px;
    padding: 18px;
    .popup__title {
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #1E1E1E;
        margin-bottom: 8px;
    }
    .popup__desc {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(30, 30, 30, .5);
    }
}

.popup-thanks {
    width: 330px;
    padding: 32px 40px;
    .popup__title {
        margin-bottom: 8px;
    }
    .popup__desc {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(30, 30, 30, .5);
    }

}

.popup-address {
    width: 320px;
    padding: 35px 27px;
    .popup__title {
        margin-bottom: 23px;
    }
    &__desc {
        margin: 11px 0 6px;
        text-align: left;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: rgba(30, 30, 30, .5);
    }
    .cabinet-address__row {
        text-align: left;
    }
    .popup__btn {
        max-width: 164px;
        display: block;
        margin: 18px auto 0;
    }
}

.popup-discount {
    width: 395px;
    padding: 35px 24px;
    .popup__title {
        margin-bottom: 28px;
    }
    &__radio-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 21px;
    }
    &__radio {
        margin-right: 16px;
    }
    &__radio-input {
        display: none;
    }
    &__radio-label img {
        filter: grayscale(1);
        transition: $transition;
    }
    &__radio-input:checked + .popup-discount__radio-label img {
		filter: grayscale(0);		
	}
    &__row {
        margin-bottom: 11px;
    }
    &__row-wrap {
        display: flex;
        margin-bottom: 15px;
        .col_1 {
            margin-right: 10px;
        }
    }
    &__input-number {
        margin-top: -8px;
        width: 100%;
        max-width: 316px;
        height: 29px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        line-height: 18px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        &:placeholder {
            color: rgba(30, 30, 30, .5);
        }
    }
    &__title-type {
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 11px;
        line-height: 14px;
        color: rgba(30, 30, 30, .6);
    }
    &__input-title {
        margin-bottom: 7px;
        font-weight: 500;
        font-size: 11px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: rgba(30, 30, 30, .6);
    }
    &__input-wrap {
        display: flex; 
        align-items: center;
    }
    &__divide {
        font-weight: 500;
        padding: 0 10px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: rgba(30, 30, 30, .5);
    }
    &__input {
        background-color: transparent;
        padding: 0 7px;
        width: 65px;
        height: 29px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #1E1E1E;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;
        &:placeholder {
            color: rgba(30, 30, 30, .5);
        }
    }
    &__input_wide {
        width: 152px;
        margin-right: 12px;
        text-align: left;
    }
    &__desc {
        margin: 11px 0 6px;
        text-align: left;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: rgba(30, 30, 30, .5);
    }
    &__row {
        text-align: left;
    }
    .popup__btn {
        max-width: 164px;
        display: block;
        margin: -4px auto 0;
    }
}

.popup-access {
    padding: 22px 28px;
    width: 580px;
    text-align: left;
    .popup__title {
        margin-bottom: 14px;
    }
    .popup__desc {
        font-size: 12px;
        line-height: 16px;
        color: #676767;
        max-width: 479px;
        margin-left: 0;
    }
    .backcall-form__row {
        max-width: 220px;
    }
    .popup__btn {
        display: block;
        margin-left: auto;
        margin-top: 25px;
        max-width: 129px;
    }
    &__middle {
        padding: 12px 0 32px;
    }
    &__bottom {
        margin: 0 -28px;
        padding: 7px 28px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 12px;
        line-height: 16px;
        color: #676767;
    }
    &__bottom-link {
        display: inline;
        font-weight: 600;
        color: #1E1E1E;
        &:hover {
            color: $link-color;
        }
    }
}

.popup-promocode,
.popup-promocode-notvalid,
.popup-sertificate-valid,
.popup-sertificate-notvalid {
    .popup__title {
        margin-bottom: 0;
    }
} 

@media (max-width: 767px) {
    .popup-constructor {
        padding: 25px 20px;
    }
    .constructor-table-wrap {
        -ms-touch-action: manipulation !important;
        touch-action: manipulation !important;
    }
    .constructor-table {
        width: 560px;
    }
}

@media (max-width: 520px) {
	.popup {
		padding: 35px 15px;
	}
    .popup-constructor {
        padding: 25px 15px;
    }
	.popup__title {
		font-size: 24px;
	}
	.popup-check-out, 
	.popup-partners {
		.catalog-filter {
			flex-wrap: wrap;
		}
		.catalog-filter__title {
			width: 100%;
		}
		.catalog-filter__wrap {
			margin-top: 15px;
			width: 100%;
		}
		.catalog-filter__top {
			justify-content: center;
		}
	}    
    .constructor-table__footer-row {
        font-size: 15px;
    }
    .popup-discount .popup__title {
        font-size: 22px;
    }
    .popup-discount__input_wide {
        width: 125px;
        margin-right: 10px;
    }
    .popup-access .backcall-form__row {
        max-width: 100%;
    }
    .popup-access .popup__btn {
        margin-right: auto;
    }
}

