/* reset */
$min-width: 320px; 
$max-width: 1380px; 
$base-bg: #FFF; 
$base-font-size: 13px; 
$base-line-height: 18px; 
$base-font-family: 'Gilroy', sans-serif; 
$custom-font-family: 'Gilroy', sans-serif; 
$link-color: #0FCB0B;
$link-color1: #776AFF;
$transition: 0.4s ease-out;

/* main variables */

$text-color: #1E1E1E;
$title-color: #1E1E1E;
$title-font-family: $custom-font-family; 

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;